<header>
    <div class="navbar navbar-blood navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="fa fa-lg fa-tint"></span> Центр крови</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">О Проекте</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toogle="dropdown">Найти доноров <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">MenuItem 1</a>
                            <li><a href="#">MenuItem 2</a>
                            <li><a href="#">MenuItem 3</a>
                        </ul>
                    </li>
                    <li >
                        <a href="#" >Стать донором </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


